@model int
@{
    ViewData["Title"] = "AddOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="py-2">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row">
            <div class="col-md-9">
                <h3 class="text-center">@Model Id Nolu Siparişiniz Başarı İle Oluşturulmuştur.</h3>
            </div>
        </div>
    </div>
</section>

