@model List<CartItem>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal totalPrice = 0;
}

<section class="py-2">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                totalPrice += item.SubTotal;
                                <tr>
                                    <td>@item.ProductName</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.UnitPrice</td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5>Total Price: @totalPrice $</h5>
                        <div class="form-group mt-2">
                            <label>Payment Method</label>
                            <select>
                                <option>Money Order</option>
                                <option>Bankcard</option>
                                <option>Paying at the door</option>
                            </select>
                        </div>
                        <a asp-action="AddOrder" asp-controller="Order" class="btn btn-primary mt-3">Siparişi Tamamla</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>