@model Order
@{
    ViewData["Title"] = "ShippingDetail";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>ShippingDetail</h1>

<h3>@Model.OrderNumber numaralı siparişin henüz kargoya verilmemiştir.</h3>

