@using Project.Entity.Entity
@model IQueryable<Category>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @foreach (var item in Model)
    {
        <h3>@item.Id</h3>
        <h3>@item.CategoryName</h3>
        <h3>@item.Description</h3>
    }
</div>
